*{
    margin-left: 5px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:rgb(242, 242, 242);
}
img{
    width: 100px;
    border-radius: 25px;
}

h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
    font-style: italic;
}
p{
    font-size: 15px;
    margin: 0;
}

.nome{
    display: flex;
    margin-bottom: 10px;
}

.perfil{
    border-radius: 20px;
}
